{% extends "core/base.jinja2" %} 
{% block title %} KK - Priloge A {% endblock %}
{% block app_content %}
<div class="px-5">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Priloge A - seznam aktualnih prilog A</h3>
        <div class="btn-group" role="group" aria-label="button-group">
            <!-- Gumbi -->
        </div>  
    </div>
    {{ render_partial('partials/spinner_data_loading.jinja2') }}
    <div 
        class="my-3 p-4 rounded box-shadow border table-responsive" 
        id="priloge-a-table"
        hx-get="{{ url_for('api.prilogaa_views.priloge_a_table_data') }}"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-target="#priloge-a-table"
        hx-indicator="#spinner-table" 
    >
    </div>
</div>
{% endblock %}
