
<table class="table table-striped table-hover" id="{{ table_id }}" >
<thead>
    <tr>
        <th scope="col" class="">Šif. PA</th>
        <th scope="col" class="text-center">Verzija</th>
        <th scope="col" class="col-1-5">Placnik</th>
        <th scope="col" class="col-2">Naziv MM</th>
        <th scope="col" class="col-1 text-right">GSRNMT</th>
        <th scope="col" class="col-0-5 text-right">EIMM</th>
        <th scope="col" class="col-1 text-center">Od</th>
        <th scope="col" class="col-1 text-center">Do</th>
        <th scope="col" class="">Razlog</th> 
        <th scope="col" class="col-1 text-center">Izstavljeno</th>
        <th scope="col" class="col-1 text-center">Info</th>   
    </tr>
</thead>
<tbody>
    {% for priloga_a in priloge_a_list %}
    <tr>
        <td>
        <a href="{{ url_for('api.prilogaa_views.prilogaa_read', priloga_a_desc_id=priloga_a['priloga_a_desc_id']) }}" class="fw-normal small-fonts" target="_blank" title="Ogled priloge A {{ priloga_a['zaporedna_stevilka'] }}">
        {{ priloga_a['zaporedna_stevilka'] }}
        </a>
        </td>
        <td class="text-center small-fonts">
            {{ render_partial('shared/badges/prilogaa_version_badge.jinja2', prilogaa_version=priloga_a['verzija']) }}
        </td>
        <td class="small-fonts">
            <a href="#" class="fw-normal" target="_blank" title="Ogled stranke {{ priloga_a['placnik']['cp_name'] }}">
            {{ priloga_a['placnik']['cp_name'] }}
            </a>
        </td>
        <td class="small-fonts">{{ priloga_a['naziv_mm'].split(',')[0] }}</td>
        <td class="text-right small-fonts">{{ priloga_a['gsrnmt'] }}</td>
        <td class="text-right small-fonts">{{ priloga_a['enotni_identifikator_mm'] }}</td>
        <td class="text-center small-fonts">{{ priloga_a['obdobje_od'] }}</td>
        <td class="text-center small-fonts">{{ priloga_a['obdobje_do'] }}</td>
        <td class="small-fonts"><i>{{ priloga_a['izvor_bremenitve'] }}</i></td>
        <td class="text-center small-fonts">{{ priloga_a['datum_izstavitve'] }}</td>
        <td class="text-center small-fonts">
        {% if not priloga_a['relevantna_prilogaa'] %}
        {{ render_partial('shared/badges/prilogaa_info_badge.jinja2', badge_info='NI RELEVANTNA PA ') }}
        {% elif priloga_a['skupni_racun'] == 'N' %}
        {{ render_partial('shared/badges/prilogaa_info_badge.jinja2', badge_info='NE IZDAMO RAC. PA') }}
        {% elif priloga_a['stevilka_racuna'] is none %}
        {{ render_partial('shared/badges/prilogaa_info_badge.jinja2', badge_info='RAC. SE NI IZDAN ') }}
        {% else %}
        {{ render_partial('shared/badges/prilogaa_info_badge.jinja2', badge_info=priloga_a['stevilka_racuna']) }}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>   
        <th></th>
        <th></th>
        <th></th>
    </tr>
</tfoot>
</table>
<script>
$(document).ready(function() {
    $('#{{ table_id }}').DataTable({
        order: [[9, 'desc']],
        paging: false,
        scrollCollapse: true,
        scrollY: '{{ scrollY }}',
        language: {
            "decimal": ",",
            "emptyTable": "V tabeli ni podatkov",
            "info": "Prikazujem _START_ - _END_ od _TOTAL_ zapisov",
            "infoEmpty": "Prikazujem 0 - 0 od 0 zapisov",
            "infoFiltered": "(od _MAX_ zapisov)",
            "infoPostFix": "",
            "thousands": " ",
            "lengthMenu": "Prikaži _MENU_ zapisov na stran",
            "loadingRecords": "Nalagam ...",
            "processing": "",
            "search": "Išči:",
            "zeroRecords": "Ni najdenih zapisov",
            "paginate": {
                "first": "Prva",
                "last": "Zadnja",
                "next": "Naslednja",
                "previous": "Prejšnja"
            },
            "aria": {
                "orderable": "Uredi po tem stolpcu",
                "orderableReverse": "Inverzno uredi po tem stolpcu"
            }
        },
        layout: {
            topStart: 'search',
            topEnd: 'buttons',
            bottom: null,
            bottomStart: null,
            bottomEnd: 'info'
        },
        buttons: ['excel', 'pdf', 'print'],
        columnDefs: [
            { targets: [6, 7, 9], render: DataTable.render.datetime('DD.MM.YY') },
        ],
        {% if show_footer %}
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var title = column.footer().textContent;

                    // Create input element and add event listener
                    $('<input type="text" placeholder="Išči ..." />')
                        .appendTo($(column.footer()).empty())
                        .on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                });
        }
        {% endif %}
    });
});

</script>