<style>
    .htmx-indicator{
        display:none;
    }
    .htmx-request .htmx-indicator{
        display:block;
    }
    .htmx-request.htmx-indicator{
        display:block;
    }

    #spinner-wrapper {
        transition: opacity 1s ease;
        opacity: 1;
        pointer-events: auto; 
    }

    #main-content {
        visibility: hidden; 
        opacity: 0; 
        transition: opacity 1s ease, visibility 0.25s ease; 
    }
</style>